/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 a {
     color: #333;
     text-decoration: none;
 }
 img, video {
     width: 100%;
 }
 .copy {
     font: 12px/13px proxima-nova, sans-serif;
     font-weight: 300;
     font-style: normal;
     color: #333;
     text-transform: uppercase;
 }
 .cta {
     font-size: 10px;
     font-weight: 500;
 }
 .logo {
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 20%;
 }
 .date {
    bottom: 5%;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 10%;
 }
 .hero-cta {
     color: white;
     bottom: 10%;
     font-size: 10px;
 }
 .button {
     color: #636466;
     /* transition: .5s; */
     font-weight: 500;
 }
 .button-black {
     color: black;
     border: black 1px solid;
     transition: .5s;
     font-weight: 500;
 }
 .button:hover {
     border: #636466 1px solid;
     /* background-color: #333  */
 }
 .button-black:hover {
     background-color: black;
     color: white;
 }
 .fadeIn {
     animation: fadeIn 3s;
 }
 .margin-left-25 {
     margin-left: 25%;
 }
 .margin-left-40 {
     margin-left: 40%;
 }
 .container {
    margin: 0 auto;
    padding: 0 5%;
 }
 .lg-img img {
    height: 100%;
 }
 @keyframes fadeIn {
     from { opacity: 0; }
     to { opacity: 1; }
 }
 @keyframes bounce {
     0%   { transform: translateY(0); }
     15%  { transform: translateY(-20px); }
     25%  { transform: translateY(0); }
 }
 .arrow {
     animation: bounce 4s infinite ease-in-out;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     width: 1.5%;
     margin: 0 auto;
     opacity: 0;
 }
   
 @screen md {
     .copy {
         font-size: 14px;
         line-height: 15px;
     },
     .cta, .hero-cta {
         font-size: 11px;
     }
     .lrg-img-left {
         margin-right: 20%;
     }
     .lrg-img-right {
         margin-left: 20%;
     }
 }
 @screen lg {
     .copy {
         font-size: 16px;
         line-height: 17px;
     }
 }
 @screen xl {
     .container {
         padding: 0;
     }
     .copy {
         font-size: 18px;
         line-height: 19px;
     },
     .cta, .hero-cta {
         font-size: 12px;
     }
     .hero-cta {
         bottom: 15%;
     }
 }
 @media (max-width: 576px) {
     .container {
         width: 90%;
     }
 }
 @media (min-width: 1675px) {
     .arrow {
         opacity: 1;
     }
     .hero-cta {
         bottom: 17.5%;
     }
 }
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
 